.grid-container {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
}
.masonry-widget {
  background: #dedede;
  width: 100px;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.masonry-widget.w-2 {
  width: 205px;
}
.masonry-widget.h-2 {
  height: 125px;
}