<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<MasonryGrid>
	<MasonryWidget>1</MasonryWidget>
	<MasonryWidget>2</MasonryWidget>
	<MasonryWidget>3</MasonryWidget>
	<MasonryWidget>4</MasonryWidget>
</MasonryGrid>
